<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>个人信息</title><!-- Favicon -->
    <link rel="shortcut icon" href="static/picture/favicon1.png">
    <link rel="stylesheet" href="static/css/css2.css"><!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css"><!-- Fontawesome CSS -->
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <link rel="stylesheet" href="static/css/all.min.css"><!-- Datatables CSS -->
    <link rel="stylesheet" href="static/css/datatables.min.css"><!-- Main CSS -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body><!-- Main Wrapper -->
<div class="main-wrapper"><!-- Header -->
    <div class="header"><!-- Logo -->
        <div class="header-left"><a href="{{ url_for('index') }}" class="logo"><img src="static/picture/logo1.png" alt="Logo"></a><a
                href="{{ url_for('index') }}" class="logo logo-small"><img src="static/picture/logo-small1.png" alt="Logo" width="30"
                                                               height="30"></a></div><!-- /Logo --><a
                href="javascript:void(0);" id="toggle_btn"><i class="fas fa-align-left"></i></a><!-- Search Bar -->
        <!-- /Search Bar --><!-- Mobile Menu Toggle --><a class="mobile_btn" id="mobile_btn"><i
                class="fas fa-bars"></i></a><!-- /Mobile Menu Toggle --><!-- Header Right Menu -->
        <ul class="nav user-menu"><!-- Notifications -->
            <!-- /Notifications --><!-- User Menu -->
            <li class="nav-item dropdown has-arrow"><a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><span
                    class="user-img"><img class="rounded-circle" src="static/picture/avatar-01.jpg" width="31"
                                          alt="Ryan Taylor"></span></a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm"><img src="static/picture/avatar-01.jpg" alt="User Image"
                                                           class="avatar-img rounded-circle"></div>
                        <div class="user-text"><h6>{{ username }}</h6>
                            <p class="text-muted mb-0">{{role}}</p></div>
                    </div>
                    <a class="dropdown-item" href="{{ url_for('logout') }}">登出</a></div>
            </li><!-- /User Menu --></ul><!-- /Header Right Menu --></div><!-- /Header --><!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title"><span>主菜单</span></li>
                    <li class="active"><a href="{{ url_for('teacher.index') }}"><i class="fas fa-comment-dollar"></i><span>个人中心</span></a></li>
                    <li ><a href="{{ url_for('teacher.stulist') }}"><i class="fas fa-user-friends"></i><span>学生列表</span></a></li>
                    <li ><a href="{{ url_for('teacher.titlist') }}"><i class="fas fa-holly-berry"></i><span>选题列表</span></a></li>
                    <li><a href="{{ url_for('teacher.stuapp') }}"><i class="fas fa-clipboard-list"></i><span>学生申请</span></a></li>
                    <li><a href="{{ url_for('teacher.titapp') }}"><i class="fas fa-calendar-day"></i><span>选题申请</span></a></li>
                </ul>
            </div>
        </div>
    </div><!-- /Sidebar --><!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12"><h3 class="page-title">教师信息</h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-info"><h4>About Me</h4>
                                <div class="media mt-3"><img src="static/picture/shuaiqideshasha.jpg" class="mr-3" alt="...">
                                    <div class="media-body">
                                        {% for item in data %}
                                        <ul>
                                            <li><span class="title-span">工号:</span><span class="info-span">{{item[0]}}</span></li>
                                            <li><span class="title-span">姓名:</span><span class="info-span">{{item[1]}}</span>
                                            </li>
                                            <li><span class="title-span">性别:</span><span class="info-span">{{item[2]}}</span></li>
                                            <li><span class="title-span">学院:</span><span class="info-span">{{item[3]}}</span>
                                            </li>
                                            <li><span class="title-span">研究方向:</span><span class="info-span">{{item[4]}}</span>
                                            </li>
                                            <li><span class="title-span">职称:</span><span class="info-span">{{item[5]}}</span>
                                            </li>
                                            <li><span class="title-span">电话:</span><span class="info-span">{{item[6]}}</span>
                                            </li>
                                            <li><span class="title-span">邮箱:</span><span class="info-span">{{item[7]}}</span>
                                            </li>
                                            <li><span class="title-span">已有题目数量:</span><span class="info-span">{{item[8]}}</span>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#editModal"><i
                                    class="fas fa-pen"></i></a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">编辑数据</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% for item in data %}
                            <form method="post" id="myform" action="/teacher/modify">
                                <label>姓名</label> <input name="name" value={{item[1]}}>
                                <label>性别</label>
                                <select name="sex">
                                    <option value={{item[2]}}>{{item[2]}}</option>
                                    <option value="女">女</option>
                                    <option value="男">男</option>
                                </select>
                                <label >学院</label> <input  name="department" value={{item[3]}}>
                                <label >研究方向</label> <input  name="research" value={{item[4]}}>
                                <label >职称</label> <input  name="tit" value={{item[5]}}>
                                <label >联系方式</label> <input  name="number" value={{item[6]}}>
                                <label >邮箱</label> <input  name="email" value={{item[7]}}>
                                <label >密码</label> <input  name="password">
                            </form>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="document.getElementById('myform').submit()">保存更改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Footer -->
    <!-- /Page Wrapper --></div><!-- /Main Wrapper --><!-- jQuery -->
<script src="static/js/jquery-3.5.1.min.js"></script><!-- Bootstrap Core JS -->
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script><!-- Slimscroll JS -->
<script src="static/js/jquery.slimscroll.min.js"></script><!-- Custom JS -->
<script src="static/js/script.js"></script>
</body>
</html>